.container {
  max-width: 1024px;
  margin: 0 auto;
}
.app-bar {
  box-shadow: 0px 1px 3px rgba($color: #000000, $alpha: 0.29);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  h2 {
    margin: 0;
    padding: 0.75rem;
  }
}

.button-box-cont {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  input[type="text"] {
    width: 15rem;
    // min-width: 12rem;
    color: #333;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }
  input[type="submit"] {
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #333;
    color: #eee;
    border-radius: 0.25rem;
    &:active {
      background-color: #000;
    }
    &:hover {
      opacity: 0.75;
    }
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  background-color: white;
  border-radius: 0.5rem;
  position: relative;

  img {
    // max-width: calc(100% - 0.5rem);
    padding: 0.5rem;
    box-shadow: 0px 0px 6px rgba($color: #000000, $alpha: 1);
    border-radius: 0.25rem;
    // min-width: calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
    max-height: calc(100vh - 11rem);
    object-fit: contain;
    // height: calc(100vh - 11rem);
    min-height: 20rem;
  }
}
.main {
  background-color: #efefef;
  min-height: 100vh;
}

@keyframes loader {
  0% {
    width: 3rem;
    height: 5rem;
  }
  50% {
    width: 5rem;
    height: 3rem;
  }
  100% {
    width: 3rem;
    height: 5rem;
  }
}

.spinner {
  background-color: red;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.25);
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: "";
    position: absolute;
    background-color: red;
    width: 4rem;
    height: 4rem;
    animation: loader 1s ease-in-out infinite;
    border-radius: 0.25rem;
  }
}
